.root{
     display:block;
 }
.root{
    -fx-font-family: "微软雅黑";
    -fx-background-image: url("../img/pink_1.jpg");
    -fx-background-size: stretch stretch;
    -fx-background-position: center center;
}